.container {
  width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 10px;

}
.form{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  justify-content: center;
}
input{
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 5px;
}
.form__input {
  padding-bottom: 15px;
  display: block;

}

p{
  margin-bottom: 25px;
}
.btn{
  border-radius: 80px;
  margin-left: 5px;
  width: 100px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: 3px solid #a7e6d8;
  transition: .1s;
  cursor: pointer;
  &:hover{
    background-color: #a7e6d8;
    border: 3px solid #a7e6d8;
  }
  &:active{
    background-color: #8dc4b8;
    border: 3px solid #a7e6d8;
  }
}
